@model EMS.Models.Department
@{
    ViewData["Title"] = "Departman Sil";
}

<h1>Departman Sil</h1>

<div class="alert alert-danger">
    <h3>Bu departmanı silmek istediğinizden emin misiniz?</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-action="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
